/* Body Style */

body {
  font-family: 'Lato', sans-serif;
  } 

.fa-shopping-cart { color: white; }

h1 {
  color: rgb(61,127,207);
  font-size: 4em;
  width: 30%;
  display: inline-block;
  }

h2 {
  color: black;
  font-weight: bold;
  font-size: 2rem;
  padding-bottom: .2rem;
  text-align: center;
  }

main { 
  display: flex; 
  width: 100%; 
  margin: 1rem; 
}

main section { width: 85%; }


/* Start Navigation Styles */

nav ul {
  display: flex;
  justify-content: space-around;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: rgb(61,127,207);
  font-weight: bold;
}

nav ul li a {
  text-decoration: none;
  color: white;
  }

#flexnav ul li a:hover { text-decoration: underline; }

.logo { margin: 1rem; }

.logo img { 
  height: 10rem;
  margin: 1rem;
}

/* Aside Sort Styles */
aside { 
  width: 15%; 
  margin-top: 3.5rem;
}

aside form * {
  display: block;
  width: 100%;
  margin-bottom: .5rem;
  border-color: rgb(61,127,207);
}

aside input[type="submit"] {
  background-color: rgb(61,127,207);
  border: 1px rgb(61,127,207);
  border-radius: 5px;
  color: white;
  margin-top: .2rem;
  padding: .5rem;
}

aside form label {
  font-weight: bold;
  font-size: 1rem;
}

/* Item Columns */
.item-container { 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}

/* Item Styles */

.item {
  width: 28.3333%;
  border: .1rem solid black;
  padding: 1rem 1rem .5rem 1rem;
  margin: 0 0.5rem 0.5rem 0;
  min-width: 250px;
} 

.item img {
  display: block;
  max-width: 100%;
  max-height: 25rem;
  padding: 0.75rem;
}

.Name {
  font-weight: bold;
  text-align: center;
}