/* Body Style */

body {
  font-family: 'Roboto', sans-serif;
  }



h1 {
  color: rgb(61,127,207);
  font-size: 4em;
  width: 30%;
  display: inline-block;
  }

h2 {
  color: black;
  font-weight: bold;
  font-size: 2rem;
  padding-bottom: .2rem;
  text-align: center;
  }

main { 
  display: flex; 
  width: 100%; 
  margin: 1rem; 
}

main section { width: 85%; }


/* Start Navigation Styles */

nav ul {
  display: flex;
  justify-content: space-around;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: rgb(61,127,207);
  font-weight: bold;
}

nav ul li a {
  text-decoration: none;
  color: white;
  }

#flexnav ul li a:hover { text-decoration: underline; }


/* Aside Sort Styles */

.logo img { height: 10rem; }

aside { 
  width: 15%; 
  margin-top: 3.5rem;
}


aside form * {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}

aside input[type="submit"] {
  background-color: rgb(61,127,207);
  border-radius: 5px;
  color: white;
  margin-top: .2rem;
}

aside form label {
  font-weight: bold;
  font-size: 1rem;
}


/* Item Columns */
.item-container { 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Item Styles */

.item {
  width: 28.3333%;
  border: .1rem solid black;
  padding: 1rem;
  margin: 0 0.5rem;
} 

.item img {
    width: 100%;
}